{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% if error_message %}
        <p> {{ error_message }}</p>
    {%  else %}
    <ul>
        {% for file in files %}
            <li>{{ file }} {% for action in actions %}<input type="button" value="{{ action.0 }}"  onclick="click('{{ file }}', '{{ action.1 }}')"/>{% endfor %}</li>
        {%  endfor %}
    </ul>
    {%  endif %}
{% endblock %}


{% block js %}
    <script>
        function click(filename, action) {
            $.ajax({
                url: '/process/video/' + action + "/",
                data: {
                    'file_name': filename,
                    'language_code': "en-US"
                },
                type: 'POST',
                success: function () {
                    window.refresh();
                },
                fail: function (error) {
                    alert(error);
                }
            });
        }
    </script>
{% endblock %}