{% extends 'base.html' %}



{% block scripts %}
	<script type="text/javascript" src="/static/captionists/js/vtt_edit.js"></script>
	<script type="text/javascript" src="/static/captionists/js/parser.js"></script>
	<script>
		function attach_sub(data) {
			parse_and_attach(this.responseText);
		}
		(function () {
			loadFile("{{ subtitles_url }}", 2000, attach_sub);
			cue_to_view();
		})();
	</script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-7">
			<figure id="videoContainer" data-fullscreen="false">
				<video id="video" controls preload="metadata">
					<source src="{{ video_url }}" type="video/mp4">
					<!-- <track label="English" kind="subtitles" srclang="en" src="subtitles/vtt/sintel-en.vtt" default> -->
				</video>
			</figure>
			<h4 style="padding-left: 5px;">{{file_name}}</h4>
		</div>
		<div class="col-sm-5 left-content ">
			<div class="caption-region">
				<table id="caption_table">
					<tr>
						<th>Caption</th>
						<th>Actions</th>
					</tr>
				</table>
			</div>
			<button class="btn btn-success save-btn" type="button" onclick="create_webvtt()">Save</button>
		</div>
	</div>
{% endblock %}
